

.dropbox {
    border: 10px dashed #ccc;
    margin: 20px auto;
    height: 300px;
}

.spreadsheetbody,
.spreadsheet {
    height: 100%;
    width: 100%;
    z-index: 5;
}

.noselect {
    /**/ -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spreadsheet {
    overflow: hidden;
    position: relative;
}

.spreadsheetbody {
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
}

$padding-distance: 20px;

.spreadsheetscrollbarright {
    position: absolute;
    right: 0;
    z-index: 10;
    height: 100%;
    background-color: white;
    top: 0px;
    padding-top: 0px;
    padding-bottom: $padding-distance;
}

.spreadsheetscrollbarbotom {
    width: 100%;
    background-color: white;
    left: 0px;
    z-index: 10;
    bottom: 0px;
    position: absolute;
    padding-left: 15px;
    padding-right: $padding-distance;
}

.scrollbarhandle {
    background-color: #c1c1c1;
    position: absolute;
}

.scrollbar {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    border: 1px solid #c1c1c1;
}

.selectarea,
.activearea {
    display: none;
    position: absolute;
    border: dotted 2px #4ba2e4;
    pointer-events: none;
}

.selectarea.active,
.activearea.active {
    display: block;
    z-index: 4;
}

.selectarea.active {
    background-color: rgba(93, 186, 204, 0.2);
}
