  <!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "activityheader", "before" : true -->
<div>
    <dropdown meph-data-source="v$.companies"></dropdown><br>
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->

  <!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "activityfooter", "before" : true -->
<div>
    <mephbutton type="button" meph-event-click="v$.editMe" class="btn btn-primary btn-lg ">
        <i class="fa fa-pencil-square-o"></i>
    </mephbutton>
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->
