  <!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "activityfooter", "before" : true -->
<div>
    <mephbutton type="button" class="btn btn-primary btn-lg "><span class="glyphicon glyphicon-share"></span></mephbutton>
    <mephbutton type="button" class="btn btn-primary btn-lg ">
        <span class="glyphicon glyphicon-earphone"></span>
    </mephbutton>
    <mephbutton type="button" class="btn btn-default btn-lg " meph-event-click="">
        <span class="glyphicon glyphicon-phone"></span>

    </mephbutton>
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->
