<div class="meph-view meph-view-remove">
    <activityview data-bind='"activityName": "c$.name", "header.innerHTML": "ct$.textValue", "colorBox.style.backgroundColor": "ct$.colorValue"'>
        <h2 MEPHId="header">asdf</h2>
        <div class="meph-layout-grid-column-e">
            <text descriptiontext="Description" value="ct$.textValue" labeltext="Text"></text>
        </div>
        <div class="meph-layout-grid-column-e">
            <text descriptiontext="Description" value="ct$.textValue" labeltext="Text"></text>
        </div>
        <div class="meph-layout-grid-column-e">
            <color descriptiontext="Color" labeltext="Color" value="ct$.colorValue"></color>
            <div>
                Selected Color
                <div style="width: 40px; height: 40px;" MEPHId="colorBox"></div>
            </div>
        </div>
        <div class="meph-layout-grid-column-e">
            <date descriptiontext="Date" labeltext="Date"></date>
        </div>
        <div class="meph-layout-grid-column-e">
            <datetime descriptiontext="DateTime" labeltext="Date Time"></datetime>
        </div>
        <div class="meph-layout-grid-column-e">
            <datetime_local descriptiontext="DateTime Loca" labeltext="Date Time Local"></datetime_local>
        </div>

        <div class="meph-layout-grid-column-e">
            <email descriptiontext="Email" labeltext="Email"></email>
        </div>
        <div class="meph-layout-grid-column-e">
            <month descriptiontext="Month" labeltext="Month"></month>
        </div>
        <div class="meph-layout-grid-column-e">
            <number descriptiontext="Number" labeltext="Number"></number>
        </div>
        <div class="meph-layout-grid-column-e">
            <range descriptiontext="Range" labeltext="Range"></range>
        </div>
        <div class="meph-layout-grid-column-e">
            <search descriptiontext="Search" labeltext="Search"></search>
        </div>
        <div class="meph-layout-grid-column-e">
            <telephone descriptiontext="Telephone" labeltext="Telephone"></telephone>
        </div>
        <div class="meph-layout-grid-column-e">
            <url descriptiontext="URL" labeltext="URL"></url>
        </div>
        <div class="meph-layout-grid-column-e">
            <week descriptiontext="Week" labeltext="Week"></week>
        </div>
        <div class="meph-layout-grid-column-e">
            <camera descriptiontext="Camera Image" labeltext="Camera Image"></camera>
        </div>
        <div class="meph-layout-grid-column-e">
            <camerastream descriptiontext="Camera Stream" labeltext="Camera Stream"></camerastream>
        </div>
    </activityview>
</div>
