<!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "beforesheet", "before" : true -->
<div class="audiosequenceheader ">
    <textfield value="c$.sequence.title" labeltext="Name"></textfield>

    <div class="btn-group">
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.saveSequence">
            <span class="glyphicon glyphicon-save"></span>
        </mephbutton>
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.newSequence">
            <span class="glyphicon glyphicon-plus"></span>
        </mephbutton>
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.openSavedSequence | c$.update">
            <span class="glyphicon glyphicon-open"></span>
        </mephbutton>
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.loadGrandPiano| c$.update">
            <span class="glyphicon glyphicon-tasks"></span>
        </mephbutton>
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.saveSequenceAsWave">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </mephbutton>

    </div>
</div>
<div mephid="audiographholder" class="audiographholder">
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->
