<!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "beforesheet", "before" : true -->
<div class="audiosequenceheader ">
    <textfield value="c$.sequence.title" labeltext="Name"></textfield>

    <div class="btn-group">
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.saveSequence">
            <span class="glyphicon glyphicon-save"></span>
        </mephbutton>
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.newSequence">
            <span class="glyphicon glyphicon-plus"></span>
        </mephbutton>
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.openSavedSequence | c$.update">
            <span class="glyphicon glyphicon-open"></span>
        </mephbutton>
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.loadGrandPiano| c$.update">
            <span class="glyphicon glyphicon-tasks"></span>
        </mephbutton>
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.saveSequenceAsWave">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </mephbutton>
    </div>
    <div class="btn-group">
        <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.openResources">
            <span class="glyphicon glyphicon-ok-sign">&nbsp; Resource</span>
        </mephbutton>
    </div>
</div>
<div mephid="audiographholder" class="audiographholder">
</div>
<div mephid="soundfontlistholder" class="soundfontlistholder">
    <div class="col-md-2">
        <h2 data-bind='"innerHTML" : "c$.selectedSoundFont"'></h2>
        <div class="btn-group">
            <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.addToSequence">
                <span class="glyphicon glyphicon-plus">&nbsp; Add To Sequence</span>
            </mephbutton>
        </div>
    </div>
    <div class="col-md-10" style="overflow:auto;height: 100%;">
        <list data-bind='"source": "c$.selectedSoundFontChunks"'>
            <template name="soundfontlist_template">
                <li class="square_list">
                    <input type="checkbox" meph-event-click="c$.toggleBoolean, c$.data, selected " />
                    <span data-bind='"innerHTML" : "c$.data.name"'></span>
                </li>
            </template>
        </list>
    </div>
</div>
<div mephid="resourceloader" class="resourceloaderholder">
    <div class="col-md-2">
        <dropbox data-events='"filesdropped":"c$.loadResources"'></dropbox>
    </div>
    <div class="col-md-10">
        <list data-bind='"source": "c$.resources"'>
            <template name="resourcelist_template">
                <li class="list-group-item">
                    <mephbutton type="button" class="btn btn-primary btn-xs" meph-event-click="c$.list.parent.viewResource, c$.data.id">
                        <span class="glyphicon glyphicon-folder-open">View</span>
                    </mephbutton>
                    <span data-bind='"innerHTML": "c$.data.name"'></span>
                </li>
            </template>
        </list>
    </div>
</div>
<!-- "instruction": true, "name" : "injectop", "close": true -->
