<!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "precanvas", "before" : true -->
<range descriptiontext="start" meph-data-value="c$.start" meph-data-step="0.0001" meph-data-min="0" meph-data-max="100"></range>
<!-- "instruction": true, "name" : "injectop", "close": true -->
<!-- "instruction": true, "name" : "injectop", "operation" : "inject" , "position" : "canvas", "before" : true -->
<range descriptiontext="stop" meph-data-value="c$.stop" meph-data-step="0.0001" meph-data-min="0" meph-data-max="100"></range>
<!-- "instruction": true, "name" : "injectop", "close": true -->
