<div class="meph-view meph-view-remove">
    <!--<activityview data-bind='"activityName": "c$.name"'>-->
    <div role="main">
        <div class="row" style="padding-top:4px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <list data-bind='"source": "v$.accounts"'>
                    <template name="account_template">
                        <li class="listitem accounttemplate">
                            <div>
                                <div class="col-md-12 col-xs-12 ">
                                    <a meph-event-click="v$.logInWith, c$.data" data-bind='"class":"c$.data.$btnclass "' class="btn btn-block btn-social btn-pinterest">
                                        <i data-bind='"class":"c$.data.$iconclass"'></i>
                                        <span data-bind='"class":"c$.data.online | v$.toOnlineBtnClass"'>Sign in with <b data-bind='"innerHTML": "c$.data.name"'></b></span>
                                        <span data-bind='"class":"c$.data.online | v$.toOfflineBtnClass"'>Sign out of <b data-bind='"innerHTML": "c$.data.name"'></b></span>
                                    </a>
                                </div>
                                <div class="col-md-12 col-xs-12 btn-hide alert alert-danger "
                                     data-bind='"innerHTML":"c$.data.error","class":"c$.data.error | v$.toDisplayError,alert alert-danger col-md-12 col-xs-12, c$.data"'>

                                </div>
                            </div>
                        </li>
                    </template>
                </list>
            </div>
            <div class="col-md-3"></div>

        </div>

    </div>
    <!--</activityview>-->
</div>