<div class="meph-view meph-view-remove">
    <!--<activityview data-bind='"activityName": "c$.name"'>-->
    <div role="main">
        <div class="row" style="padding-top:4px;">
            <div class="col-md-3">
                <!-- In the callback, you would hide the gSignInWrapper element on a
                successful sign in -->
                <!--<span id="signinButton">
                    <span class="g-signin"
                          data-callback="signinCallback"
                          data-clientid="517106140753-3vmlkec7jhi5s0bmv89tkc8kho1u21e3.apps.googleusercontent.com"
                          data-cookiepolicy="single_host_origin"
                          data-requestvisibleactions="http://schema.org/AddAction"
                          data-scope="https://www.googleapis.com/auth/plus.login">
                    </span>
                </span>-->
                <!-- need to be logged in to use; if not, offer a login button -->
                <!--<script type="IN/Login">
                </script>-->

            </div>
            <div class="col-md-6">
                <list data-bind='"source": "v$.accounts"'>
                    <template name="views_account_template">
                        <li class="listitem accounttemplate">
                            <div>
                                <div class="col-md-12 col-xs-12 " mephid="wrapper">
                                    <a meph-event-click="v$.logInWith, c$.data"
                                       mephid="link"
                                       meph-data-nothing="c$.data.loginAdded | v$.toDisabled, c$.data, c$.link, c$.wrapper"
                                       data-bind='"class":"c$.data.$btnclass"' class="btn btn-block btn-social btn-pinterest">
                                        <i data-bind='"class":"c$.data.$iconclass"'></i>
                                        <span data-bind='"class":"c$.data.online | v$.toOnlineBtnClass"'>Sign in with <b data-bind='"innerHTML": "c$.data.name"'></b></span>
                                        <span data-bind='"class":"c$.data.online | v$.toOfflineBtnClass"'>Sign out of <b data-bind='"innerHTML": "c$.data.name"'></b></span>
                                    </a>
                                </div>
                                <div class="col-md-12 col-xs-12 btn-hide alert alert-danger "
                                     data-bind='"innerHTML":"c$.data.error","class":"c$.data.error | v$.toDisplayError,alert alert-danger col-md-12 col-xs-12, c$.data"'>

                                </div>
                            </div>
                        </li>
                    </template>
                </list>
            </div>
            <div class="col-md-3"></div>

        </div>

    </div>
    <!--</activityview>-->
</div>