<div class="meph-view meph-view-remove">
    <activityview data-bind='"activityName": "c$.name"'>
        <number descriptiontext="Width" labeltext="Width" value="v$.numberValue"></number>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             width="100%" height="400">
            <g>
                <!--<audionode meph-data-nodewidth="v$.numberValue"></audionode>-->
                <convolver meph-data-nodewidth="v$.numberValue" meph-data-sx="v$.cposx"></convolver>
            </g>
        </svg>
    </activityview>
</div>
