/**
* @class U4MStyles
* @singleton
* Sass variables exposed by MEPH. You can chooose to override these variables in a themed version of the MEPH style library:
*
*		//1. Import theme overrides - Here you give the standard MEPH variables a themed value.
*		@import 'themes/custom-theme'; 
*
*		//2. Import the entire MEPH Sass library - theme variables will override the defaults.
*		@import 'meph'; 
*
* Or you choose to just reuse the public variables by only importing file:
*
*		@import 'meph-variables-public'
*/
/**
* @class U4MStyles.private
*
* U4Styles.private contain themeable variables & resources exposed by the current release of the U4UX framework. 
* These variables might change inbetween each release, so they should in general __not__ be used by module developers.
* Internally, the variables are exposed so that we can make a theme on top of the default MEPH styleset.
*/
/* line 1, ../sass/riks-default/_all.scss */
.riks-tab {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;
}

/* line 9, ../sass/riks-default/_all.scss */
.operativesreportback {
  position: relative;
}
