<div class="meph-view meph-view-remove ">
    <meview   mephid="activityview">

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="connection-list-profile-image">
                        <img data-bind='"src": "c$.contact.img | v$.toImageSource"' />
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <span data-bind='"innerHTML": "v$.contact.name"'></span><br>
                    <span data-bind='"innerHTML": "v$.contact.dob"'></span><br>
                    <span data-bind='"innerHTML": "v$.contact.dob"'></span><br>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <list data-bind='"source": "v$.contact.businesses"'>
                <template name="contact_list_template_afdasdfasdf">
                    <li class="listitem">
                        <fieldset>
                            <strong>Twitter, Inc.</strong><br>
                            <label>Title:</label>
                            <span data-bind='"innerHTML": "c$.data.title"'></span>
                            <label>Address:</label>
                            <span data-bind='"innerHTML": "c$.data.address"'></span>
                            <address>
                                <span data-bind='"innerHTML": "c$.data.address"'></span><br />
                                <span data-bind='"innerHTML": "c$.data.city"'></span>,
                                <span data-bind='"innerHTML": "c$.data.state"'></span>
                                <span data-bind='"innerHTML": "c$.data.zip"'></span><br>
                                <abbr title="Phone">P:</abbr> <span data-bind='"innerHTML": "c$.data.phone1"'></span><br>
                                <abbr title="Phone 2">P2:</abbr> <span data-bind='"innerHTML": "c$.data.phone2"'></span><br>
                                <abbr title="Cell">Cell:</abbr> <span data-bind='"innerHTML": "c$.data.cell"'></span><br>
                                <abbr title="Email">Email:</abbr> <span data-bind='"innerHTML": "c$.data.email"'></span><br>
                            </address>
                        </fieldset>
                    </li>
                </template>
            </list>
        </div>
        <div class="col-md-3"></div>

    </meview>
</div>
